{% extends "layouts/app.html" %}
{% load static %}
{% load i18n %}
{% block title %} {% trans 'Diagram edit' %} {% endblock %}
{% block css %}
<script type="text/javascript"
        src="{% static 'common/data.js' %}?v=5.0.1"></script>
<script type="text/javascript"
        src="{% static 'codebase/diagramWithEditor.js' %}?v=5.0.1"></script>
<link rel="stylesheet"
      href="{% static 'codebase/diagramWithEditor.css' %}?v=5.0.1">

<style>
    .dhx_diagram {
        background: #fff;
    }

    .dhx_sample-widget {
        height: calc(100% - 61px);
    }
</style>
{% endblock %}
{% block content %}
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-fluid p-0">
        <div class="content-header row">
            <input type="hidden" name="object_id" id="object_id"
                   value="{{object.id}}">
               <input type="hidden" name="update_id" id="update_id"
                   value="{{update_id}}">
        </div>
        <div class="content-body">
            <section style="height: 120rem; width: 100%;">
                <div class="dhx_sample-widget" id="editor"></div>
            </section>
        </div>
    </div>
</div>
<script>
    const locale = {
        applyAll: "Применить все",
        resetChanges: "Сбросить изменения",
        shapeSections: "Формы",
        groupSections: "Группы",
        swimlaneSections: "Блоки",

        arrange: "Расположение",
        position: "Позиция",
        size: "Размер",
        color: "Цвет",
        title: "Заголовок",
        text: "Текст",
        image: "Изображение",
        fill: "Наполнение цветом",
        textProps: "Стиль текста",
        stroke: "Границы",


        headerText: "Текст заголовка",
        headerFill: "Заполнение заголовка",
        headerStyle: "Стиль заголовка",
        headerPosition: "Позиция заголовка",
        headerEnable: "Заголовок",
        subHeaderRowsEnable: "Строки подзаголовков",
        subHeaderColsEnable: "Столбцы подзаголовка",

        positionOptions: {
            top: "верх",
            bottom: "низ",
            left: "левый",
            right: "право",
        },
        switchOptions: {
            on: "включить",
            off: "выключить",
        },
    };

    dhx.i18n.setLocale("diagram", locale);

    const editor = new dhx.DiagramEditor("editor", {
        type: "default",
        autoplacement: {
            mode: "direct",
        },
        controls: {
            gridStep: false,
            import: false,
            export: false,
            autoLayout: false,

        },
    });
    let object_id = document.getElementById("object_id").value
    let update_id = document.getElementById("update_id").value
    let url = "/api/v1/business_processes/{{get_type}}/" + object_id

    let crf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value

    editor.diagram.data.load(url);

    let update_url = "/api/v1/business_processes/{{update_type}}/" + update_id
    editor.events.on("applyButton", function () {

        fetch(update_url + '/', {
            method: "PATCH",
            headers: {
                "X-CSRFToken": crf_token,
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify(editor.serialize()),

        }).then(
                window.history.back()
             // response => response.text() // .
            // same as function(response) {return response.text();}
        ).then(
            html => console.log(html)
        );
    });

</script>
{% endblock %}
{% block js %}
{% endblock %}>